<div class='input-group board-list-item'>

  <a href="#boards/<%= board.id %>"
    class='form-control'>
    <%= board.escape('title') %></a>
  <span class="input-group-btn">
    <button class="btn btn-md btn-danger delete-board" type="button">Delete!</button>
  </span>
</div>
