
<h3>Your Boards</h3>

<ul class='board-index sortable'>
</ul>

<a href="#boards/new" class='btn btn-success'>Create a Board</a>

<script type="text/javascript">
  $(".sortable").sortable()
</script>
