<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="text-center">
      <title><%= board.escape('title') %></title>
      <h3><%= board.escape('title') %>'s Lists</h3>
      <hr>
    </div>
    <form class='input-group add-list'>
      <input type="text" class="form-control text-center list-title" placeholder="List Title">
      <span class="input-group-btn">
        <button class="btn btn-success add-list" type="button">+</button>
      </span>
    </form>
  </div>
</div>

<div class='board-lists sortable'>
</div>

<script type="text/javascript">
  $(".sortable").sortable()
</script>
