/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

div.list {
  display: inline-block;
  float: none;
  margin: 20px;
  width: 200px;
  border: 1px solid black;
  text-align: center;
  min-height: 300px;
  max-height: 400px;
  vertical-align: top;
}

div.board-lists {
  overflow-x: scroll;
  white-space: nowrap;
}

div.lists, .add-card, div.cards {
  white-space: normal;
  float: left;
  padding: 5px;
  width: 100%;
}

div.card-item {
  border: 2px solid black;
  margin: 10px;
  height: 34px;
}

div.card-item .card-delete {
  display: none;
}

div.card-item:hover .card-delete {
  display: inline-block;
}

.card-item {
  text-align: center;
}

.card-item button {
  float: right;
  height: 30px;
}

.ui-sortable-helper {
  -ms-transform: rotate(8deg); /* IE 9 */
  -webkit-transform: rotate(8deg); /* Chrome, Safari, Opera */
  transform: rotate(8deg);
  box-shadow: 10px 10px 5px #888888;
  background: white;
}
